* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  object-fit: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.card {
  max-width: min(95%, 450px);
  margin: 0 auto;
  border: 5px solid red;
  padding: 1.75em;
  border-radius: 15px;
}

.avatar {
  height: 350px;
  width: 350px;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: 0.75rem;
  border-radius: 10px;
}

.name {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.text-content {
  text-align: center;
}

.skills {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  row-gap: 1rem;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}

.skill {
  color: #fff;
  display: flex;
  gap: 1rem;
  padding: 0.38em 0.75em;
}

.summary {
  font-size: 0.875rem;
  max-width: 45ch;
}
